<h2>Welcome to Little Esty Store: Bulk Discounts</h2>
<p>
<%= link_to 'Merchant 1 Dashboard', 'merchant/1/dashboard' %>
<br>
<%= link_to 'Merchant 2 Dashboard', 'merchant/2/dashboard' %>
<br>
<%= link_to 'Admin Invoices Show', 'admin/invoices/29' %>
</p>