<h1>Discount Edit Page</h1>

<%= render partial: 'form', locals: { path: merchant_discount_path(@merchant, @discount), method: :patch, button_text: "Update Discount", threshold: "#{@discount.threshold}", percentage: "#{@discount.threshold}" } %>
